* {
    background:               rgba(29, 29, 32, 1);
    background-alt:           rgba(39, 39, 42, 1);
    foreground:               rgba(255, 255, 255, 0.5);
    selected:                 rgba(255, 255, 255, 1);
    font:                       "JetBrainsMono Nerd Font Bold 10";
}
