* {
    font-family: "MesloLGS Nerd Font";
    background: transparent;
    color: rgba(255, 255, 255, 0.7);
}

#custom-icon {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    padding: 5px 2px 5px 10px;
    margin-right: 4px;
    font-size: 16px;
    outline: none;
}

#workspaces {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    font-size: 12px;
}

#workspaces button {
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;
}

#workspaces button:first-child {
    margin-left: 12px;
    margin-right: 1px;
}

#workspaces button:not(:first-child):not(:last-child) {
    margin-left: 1px;
    margin-right: 1px;
}

#workspaces button:last-child {
    margin-left: 1px;
    margin-right: 12px;
}

#workspaces button > box > label {
    color: rgba(255, 255, 255, 0.3);
    transition: color 250ms ease-in-out;
}

#workspaces button.active > box > label {
    color: white;
}

.modules-center,
#hardware,
#power {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    font-weight: 600;
}

#hardware {
    margin-right: 4px;
}

#hardware > widget:first-child > * {
    margin-left: 6px;
    margin-right: 6px;
}

#hardware > widget:not(:first-child):not(:last-child) > * {
    margin-left: 6px;
    margin-right: 6px;
}

#hardware > widget:last-child > * {
    margin-left: 6px;
    margin-right: 6px;
}

#power {
    font-size: 16px;
}

#power > widget:first-child > * {
    margin-left: 6px;
    margin-right: 6px;
}

#power > widget:not(:first-child):not(:last-child) > * {
    margin-left: 6px;
    margin-right: 6px;
}

#power > widget:last-child > * {
    margin-left: 6px;
    margin-right: 6px;
}

#power > widget > label {
    transition: color 250ms ease-in-out;
}

#power > widget > label:hover {
    color: white;
}
