* {
    color: #C5C4C6;

    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
}

#waybar {
    background: transparent;
}

.horizontal > box > widget > * {
    background: #1d1d20;
    border-radius: 100px;
    padding: 2 12px;
}

#workspaces button {
    border: none;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
}
