* {
    color: #c5c4c6;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
}

window.Bar {
    background: transparent;
}

.modules-start > *,
.modules-center > *,
.modules-end > * {
    background: #1d1d20;
    border: 0.5px solid #444444ff;
    border-radius: 12px;
    min-height: 0px;
    min-width: 0px;
    padding: 2px 8px;
}

.workspaces button {
    border: none;
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    background: transparent;
}

.workspaces button.focused {
    color: #ffffff;
}

.tray button {
    min-height: 0px;
    min-width: 0px;
    padding: 0;
    background: transparent;
}

window.Notifications {
    background: transparent;
}

.notifications {
    min-width: 320px;
}

.notification {
    background: #1d1d20;
    border: 0.5px solid #444444ff;
    border-radius: 12px;
    padding: 12px;
}

.notification-app {
    color: #bdbdbd;
    font-size: 8px;
}

.notification-summary {
    color: #ffffff;
    font-size: 16px;
}

.notification-body {
    color: #d8d8d8;
}

.notification-close {
    border-radius: 6px;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    background: #2b2b31;
    color: #d8d8d8;
}

.notification-close:hover {
    background: #35353d;
}
